In [12]:
import pandas as pd
import yfinance as yf

In [15]:
symbol = "^NSEI"
start = "2022-09-14"
end = "2023-09-14"

In [16]:
nifty = yf.download(symbol, start, end)

[*********************100%%**********************]  1 of 1 completed

In [25]:
df = nifty.reset_index()
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-09-14,17771.150391,18091.550781,17771.150391,18003.750000,18003.750000,365900
1,2022-09-15,18046.349609,18096.150391,17861.500000,17877.400391,17877.400391,289600
2,2022-09-16,17796.800781,17820.050781,17497.250000,17530.849609,17530.849609,468500
3,2022-09-19,17540.650391,17667.199219,17429.699219,17622.250000,17622.250000,258300
4,2022-09-20,17770.400391,17919.300781,17744.400391,17816.250000,17816.250000,263100
...,...,...,...,...,...,...,...
244,2023-09-07,19598.650391,19737.000000,19550.050781,19727.050781,19727.050781,304900
245,2023-09-08,19774.800781,19867.150391,19727.050781,19819.949219,19819.949219,288100
246,2023-09-11,19890.000000,20008.150391,19865.349609,19996.349609,19996.349609,248800
247,2023-09-12,20110.150391,20110.349609,19914.650391,19993.199219,19993.199219,328100
248,2023-09-13,19989.500000,20096.900391,19944.099609,20070.000000,20070.000000,251400

In [28]:
df["Date"] = pd.to_datetime(df.Date).copy()
df["Day"] = df.Date.dt.day_name()
column_to_move = df.pop("Day")
df.insert(1, "Day", column_to_move)
df.head()

,Date,Day,Open,High,Low,Close,Adj Close,Volume
0,2022-09-14,Wednesday,17771.150391,18091.550781,17771.150391,18003.750000,18003.750000,365900
1,2022-09-15,Thursday,18046.349609,18096.150391,17861.500000,17877.400391,17877.400391,289600
2,2022-09-16,Friday,17796.800781,17820.050781,17497.250000,17530.849609,17530.849609,468500
3,2022-09-19,Monday,17540.650391,17667.199219,17429.699219,17622.250000,17622.250000,258300
4,2022-09-20,Tuesday,17770.400391,17919.300781,17744.400391,17816.250000,17816.250000,263100

In [30]:
df_thus = df.loc[df.Day == "Thursday"]
df_thus.head(5)

,Date,Day,Open,High,Low,Close,Adj Close,Volume
1,2022-09-15,Thursday,18046.349609,18096.150391,17861.500000,17877.400391,17877.400391,289600
6,2022-09-22,Thursday,17609.650391,17722.750000,17532.449219,17629.800781,17629.800781,284100
11,2022-09-29,Thursday,16993.599609,17026.050781,16788.599609,16818.099609,16818.099609,340000
15,2022-10-06,Thursday,17379.250000,17428.800781,17315.650391,17331.800781,17331.800781,265500
20,2022-10-13,Thursday,17087.349609,17112.349609,16956.949219,17014.349609,17014.349609,266400

In [ ]:
import matplotlib.pyplot as plt